<br>
<div class="container">
    <div class="row">
    	<div class="clearfix"></div>
        <div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'cashier']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/users.png" alt="Usuários" class="img-circle">
				</div>
				<h1>Caixa</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'sale']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/users.png" alt="Usuários" class="img-circle">
				</div>
				<h1>Vendas</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'payable']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/download.png" alt="Relatórios" class="img-circle">
				</div>
				<h1>Contas a Pagar</h1>
			</div>
			</a>
		</div>

		<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'receivable']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/close.png" alt="Encerrar Sessão" class="img-circle">
				</div>
				<h1>Contas a Receber</h1>
			</div>
			</a>
		</div>
			<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/return.png" alt="Marcel Newman" class="img-circle">
				</div>
				<h1>Voltar</h1>
			</div>
			</a>
		</div>
	</div>
</div>