 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-8 col-md-offset-2">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>" 
              style="color: #444" title="Acessar">Clientes</a> 
              <span style="color: #ff9600"> >> </span>
              Detalhes
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <h2 style="text-align: center;"><b>Cliente:</b> <?php echo $this->customer->getName(); ?></h2> 
                <hr>
                <div class="col-md-6">
                    <b>Código:</b> <?php echo $this->customer->getId(); ?>
                    <br>
                    <b>Nome:</b> <?php echo $this->customer->getName(); ?>
                    <br>
                    <b>Email:</b> <?php echo $this->customer->getEmail(); ?>
                    <br>
                    <b>Telefone:</b> <?php echo $this->customer->getPhone(); ?>
                    <br>
                    <b>Celular:</b> <?php echo $this->customer->getCellphone(); ?>
                </div>
                <div class="col-md-6">
                    <b>CEP:</b> <?php echo $this->customer->getPostalCode(); ?>
                    <br>
                    <b>Endereço:</b> <?php echo $this->customer->getAddress(); ?>
                    <br>
                    <b>Número:</b> <?php echo $this->customer->getNumber(); ?> / 
                    <b>Complemento:</b> <?php echo $this->customer->getComplement(); ?>
                    <br>
                    <b>Bairro:</b> <?php echo $this->customer->getNeighborhood(); ?>
                    <br>
                    <b>Cidade:</b> <?php echo $this->customer->getCity(); ?>/<?php echo $this->customer->getState(); ?>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div style="text-align: center;">
                    <a class="btn btn-primary" 
                        href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>">
                        Voltar
                    </a>
                    <a class="btn btn-warning" 
                        href="<?php echo $this->url('app-router/default', 
                            ['controller' => 'customer', 'action' => 'edit', 'id' => $this->customer->getId()]); ?>">
                        Editar
                    </a>
                    <a class="btn btn-danger" 
                        href="<?php echo $this->url('app-router/default', 
                            ['controller' => 'customer', 'action' => 'delete', 'id' => $this->customer->getId()]); ?>">
                        Excluir
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

