 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
    <div class="container">
        <div class="row">
            <div style="text-align: center; color: #444; font-size: 15px; 
                border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
                <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                    style="color: #444" title="Acessar">Início</a> 
                <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'system-config']); ?>" 
              style="color: #444" title="Acessar">Sistema</a> 
              <span style="color: #ff9600"> >> </span>
                Relatórios
            </div>
            <div class="clearfix"></div>
            <div class="well">
            <div class="col-md-12" style="margin: 0; padding: 0;">
                <?php 
                $form = $this->form;
                $form->prepare();
                
                echo $this->form()->openTag($form);
                ?>
                <div class="col-md-4">
                    <?php echo $this->formLabel($form->get('module')); ?>
                    <?php echo $this->formSelect($form->get('module')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('initial_date')); ?>
                    <?php echo $this->formDate($form->get('initial_date')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('final_date')); ?>
                    <?php echo $this->formDate($form->get('final_date')); ?>
                </div>
                <?php
                echo $this->formRow($form->get('security'));
                ?>
                <div class="col-md-2 hidden-xs hidden-sm" style="padding-top: 26px">
                    <?php
                    echo $this->formButton($form->get('button'));
                    ?>
                </div>
                <div class="col-md-2 hidden-md hidden-lg">
                    <?php
                    echo $this->formButton($form->get('button'));
                    ?>
                </div>
                <?php echo $this->form()->closeTag(); ?>
                <div class="clearfix"></div>
                <?php echo $this->form()->closeTag(); ?>
            </div>   
            <div class="clearfix"></div></div>
            <div id="report-result"></div>
        </div>
    </div>
</div>
<input type="hidden" id="report-url">
<!-- Modal -->
<div class="modal fade" id="modal-loader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Aguarde, gerando relatório...
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function makeReport() {
        var module       = $("#frm-module");
        var initial_date = $("#frm-initial-date");
        var final_date   = $("#frm-final-date");

        var btn = $("#btn-make");
        btn.attr("disabled", true);

        var result = $("#report-result");
        result.empty();

        var modal_loader = $("#modal-loader");
        modal_loader.modal('show');

        var urlRequest = "<?php echo $this->url('app-router/default', 
            ['controller' => 'report', 'action' => 'result']); ?>";

        var urlParams = "";
        urlParams += "?module=" + module.val();

        if (initial_date.val() !== "") {
            urlParams += "&initial=" + initial_date.val();            
        }

        if (final_date.val() !== "") {
            urlParams += "&final=" + final_date.val();            
        }

        $("#report-url").val("");

        $.ajax({
            url: urlRequest + urlParams,
            success: function(data) {
                $("#report-url").val(urlParams);
                result.append(data);
                modal_loader.modal('hide');
                btn.attr('disabled', false);
            },
            error: function() {
                result.append('<div class="col-md-12">Erro ao gerar relatório, por favor atualize a página.</div>');
                modal_loader.modal('hide');
                btn.attr('disabled', false);
            }
        }); 
    }

    function exportData() {
        $("#exportModal").modal('show');

        var query = $("#report-url").val();

        console.log(query);
        
        var url = "<?php echo $this->url('app-router/default', 
            ['controller' => 'report', 'action' => 'export']); ?>" + query;

        window.location.href = url;
    }
</script>