<div class="row">
	<div class="col-md-12">
	<div class="well">
		<div class="pull-left">
	        <h3 style="margin-top: 8px; font-size: 20px; color: #333">Relatório gerado às <?php echo date("H:i"); ?></h3>
	    </div>
	    <div class="pull-right">
	        <a class="btn btn-warning" onclick="exportData();">
	            EXPORTAR PARA EXCEL
	        </a>
	    </div>
	    <div style="clear: both;"></div>
	    <hr />
	    <?php if ($this->module == 'account-payable' || $this->module == 'account-receivable'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Documento</th>
                            <th>Descrição</th>
                            <th>Emissão</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Situação</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['document']; ?></td>
                            <td><?php echo $entity['description']; ?></td>
                            <td>
                            	<?php 
                                $emission = explode("-", $entity['emission'], 3); 
                                echo $emission[2] . '/' . $emission[1] . '/' . $emission[0];
                                ?>
                            </td>
                            <td>
                            	<?php 
                                $expiration = explode("-", $entity['expiration'], 3); 
                                echo $expiration[2] . '/' . $expiration[1] . '/' . $expiration[0];
                                ?>
                            </td>
                            <td><?php echo number_format($entity['account_value'], 2, ",", "."); ?></td>
                            <td>
                            	<?php 
                            	switch ($entity['status']) {
		                            case 'O':
		                                $status_label = "Aberta";
		                                break;
		                            case 'E':
		                                $status_label = "Vencida";
		                                break;
		                            case 'P':
		                                $status_label = "Quitada";
		                                break;
		                            default:
		                                $status_label = "Indefinda";
		                                break;
		                        }
		                        echo $status_label;
                            	?>
                            </td>
                            <td><?php echo $entity['notes']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'customer'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                            <td><?php echo $entity['email']; ?></td>
                            <td><?php echo $entity['phone']; ?></td>
                            <td><?php echo $entity['cellphone']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'employee'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Sexo</th>
                            <th>Nascimento</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Cargo</th>
                            <th>Salário</th>
                            <th>Dt. Contratação</th>
                            <th>Dt. Saída</th>
                            <th>Dia Pgto.</th>
                            <th>Entrada</th>
                            <th>Saída</th>
                            <th>CEP</th>
                            <th>Endereço</th>
                            <th>Número</th>
                            <th>Complemento</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>UF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                            <td><?php echo $entity['gender']; ?></td>
                            <td>
                            	<?php 
                                $birthdate = explode("-", $entity['birthdate'], 3); 
                                echo $birthdate[2] . '/' . $birthdate[1] . '/' . $birthdate[0];
                                ?>
                            </td>
                            <td><?php echo $entity['cpf']; ?></td>
                            <td><?php echo $entity['rg']; ?></td>
                            <td><?php echo $entity['phone']; ?></td>
                            <td><?php echo $entity['cellphone']; ?></td>
                            <td><?php echo $entity['email']; ?></td>
                            <td><?php echo $entity['job_role']; ?></td>
                            <td><?php echo number_format($entity['salary'], 2, ',', '.'); ?></td>
                            <td>
                            	<?php 
                                $hiring_date = explode("-", $entity['hiring_date'], 3); 
                                echo $hiring_date[2] . '/' . $hiring_date[1] . '/' . $hiring_date[0];
                                ?>
                            </td>
                            <td>
                            	<?php 
                            	if (!empty($entity['fired_date'])):
	                                $fired_date = explode("-", $entity['fired_date'], 3); 
	                                echo $fired_date[2] . '/' . $fired_date[1] . '/' . $fired_date[0];
                                endif;
                                ?>
                            </td>
                            <td><?php echo $entity['pay_day']; ?></td>
                            <td><?php echo $entity['entry_time']; ?></td>
                            <td><?php echo $entity['exit_time']; ?></td>
                            <td><?php echo $entity['postal_code']; ?></td>
                            <td><?php echo $entity['address']; ?></td>
                            <td><?php echo $entity['number']; ?></td>
                            <td><?php echo $entity['complement']; ?></td>
                            <td><?php echo $entity['neighborhood']; ?></td>
                            <td><?php echo $entity['city']; ?></td>
                            <td><?php echo $entity['state']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'inventory'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Item</th>
                            <th>Categoria</th>
                            <th>Subcategoria</th>
                            <th>Qtd.</th>
                            <th>Qtd. Min.</th>
                            <th>Valor</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['code']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                            <td><?php echo $entity['category_id']; ?></td>
                            <td><?php echo $entity['subcategory_id']; ?></td>
                            <td><?php echo $entity['qtd']; ?></td>
                            <td><?php echo $entity['qtd_min']; ?></td>
                            <td><?php echo number_format($entity['price'], 2, ',', '.'); ?></td>
                            <td><?php echo ($entity['status'] == '1') ? "Ativo" : "Inativo"; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'category'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'subcategory'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Subcategoria</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                            <td><?php echo $entity['category_id']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'order-service'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Valor</th>
                            <th>Cliente</th>
                            <th>Usuário</th>
                            <th>Situação</th>
                            <th>Emissão</th>
                            <th>Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['description']; ?></td>
                            <td>
                            <?php 
                            $service_date = explode("-", $entity['service_date'], 3); 
                            echo $service_date[2] . '/' . $service_date[1] . '/' . $service_date[0];
                            ?>
                            </td>
                            <td><?php echo substr($entity['service_time'], 0, 5); ?></td>
                            <td><?php echo number_format($entity['service_value'], 2, ',', '.'); ?></td>
                            <td><?php echo $entity['customer_id']; ?></td>
                            <td><?php echo $entity['user_id']; ?></td>
                            <td>
                            	<?php 
                            	switch ($entity['status']) {
	                                case 'O':
	                                    $status_label = "Aberta";
	                                    break;
	                                case 'C':
	                                    $status_label = "Cancelada";
	                                    break;
	                                case 'D':
	                                    $status_label = "Concluída";
	                                    break;
	                                default:
	                                    $status_label = "Indefinda";
	                                    break;
	                            }
                            	echo $status_label; 
                            	?>
                            </td>
                            <td>
                            <?php 
                            $created_at_full = explode(" ", $entity['created_at'], 2); 
                            $created_at = explode("-", $created_at_full[0], 3); 
                            echo $created_at[2] . '/' . $created_at[1] . '/' . $created_at[0];
                            ?>
                            </td>
                            <td><?php echo $entity['notes']; ?></td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'user'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Perfil</th>
                            <th>Email</th>
                            <th>Situação</th>
                            <th>Dt. Registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $entity['name']; ?></td>
                            <td><?php echo $entity['role_id']; ?></td>
                            <td><?php echo $entity['email']; ?></td>
                            <td><?php echo $entity['status']; ?></td>
                            <td>
                            	<?php 
                                $created_at_full = explode(" ", $entity['created_at'], 2); 
                                $created_at = explode("-", $created_at_full[0], 3); 
                                echo $created_at[2] . '/' . $created_at[1] . '/' . $created_at[0];
                                ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
    	<?php if ($this->module == 'sale'): ?>
	    	<div class="table-responsive">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Cliente</th>
                            <th>Valor</th>
                            <th>Data da Venda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity['id']; ?></td>
                            <td><?php echo $this->AppointmentCustomerName($entity['appointment_id']); ?></td>
                            <td><?php echo number_format($entity['total'], 2, ",", "."); ?></td>
                            <td>
                            	<?php 
                                $sale_date_full = explode(" ", $entity['sale_date'], 2); 
                                $sale_date = explode("-", $sale_date_full[0], 3); 
                                $sale_time = explode(":", $sale_date_full[1], 3); 
                                echo $sale_date[2] . '/' . $sale_date[1] . '/' . $sale_date[0] . " às " . $sale_time[0] . ":" . $sale_time[1];
                                ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
    	<?php endif; ?>
	</div>
    <div style="clear: both;"></div>
</div></div>
<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Exportando dados...</h4>
      </div>
      <div class="modal-body">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Este processo pode levar alguns minutos, aguarde até o fim da extração.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Concluir</button>
      </div>
    </div>
  </div>
</div>