 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
     <div class="container">
      <div class="row">
          <div style="text-align: center; color: #444; font-size: 15px; 
          border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
            style="color: #444" title="Acessar">Início</a> 
            <span style="color: #ff9600"> >> </span>
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
            style="color: #444" title="Acessar">Financeiro</a> 
            <span style="color: #ff9600"> >> </span>
          Contas a Pagar
        </div>
        <div class="clearfix"></div>
            <div class="well">
                <div style="text-align: center;">
                    <a href="<?php echo $this->url('app-router/default', 
                        ['controller' => 'account', 'action' => 'new-payable']); ?>" 
                        class="btn btn-warning btn-sm">
                        LANÇAR CONTA A PAGAR
                    </a>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Código</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Vencimento</th>
                                <th style="text-align: center;">Situação</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($this->data as $entity): 
                            switch ($entity->getStatus()) {
                                case 'O':
                                    $status_label = "Aberta";
                                    $class_label  = "";  
                                    break;
                                case 'E':
                                    $status_label = "Vencida";
                                    $class_label  = "danger";
                                    break;
                                case 'P':
                                    $status_label = "Quitada";
                                    $class_label  = "success";
                                    break;
                                default:
                                    $status_label = "Indefinda";
                                    $class_label  = "warning";
                                    break;
                            }
                            ?>
                            <tr class="<?php echo $class_label; ?>">
                                <td style="text-align: center;"><?php echo $entity->getId(); ?></td>
                                <td><?php echo $entity->getDescription(); ?></td>
                                <td><?php echo number_format($entity->getAccountValue(), 2, ',', '.'); ?></td>
                                <td>
                                    <?php 
                                    $date = explode("-", $entity->getExpiration(), 3); 
                                    echo $date[2] . '/' . $date[1] . '/' . $date[0];
                                    ?>
                                </td>
                                <td style="text-align: center;">
                                    <?php  
                                    echo $status_label;
                                    ?>
                                </td>
                                <td style="text-align: center;">
                                  
                                    <a class="btn btn-round btn-success btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Visualizar Conta"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'account', 'action' => 'view-payable', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                    </a>&nbsp;
                                       <?php 
                                    if ($entity->getStatus() != 'P'): ?>
                                        <a  class="btn btn-round btn-info btn-xs"
                                            style="text-decoration: none; cursor: pointer;" title="Editar Conta"
                                            href="<?php echo $this->url('app-router/default', 
                                                ['controller' => 'account', 'action' => 'edit-payable', 'id' => $entity->getId()]); ?>">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                        </a>&nbsp;
                             
                                        <a class="btn btn-round btn-danger btn-xs"
                                            style="text-decoration: none; cursor: pointer;" title="Remover Conta"
                                            onclick="deleteAction(<?php echo $entity->getId(); ?>);">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> Excluir
                                        </a>
                                    <?php endif; ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalRemoveLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Exclusão de Conta</h4>
            </div>
            <div class="modal-body">
                Remover esta Conta? Não será mais possível recuperar o registro.
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancel-remove" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btn-remove" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteAction(id) {
        $("#modalDelete").modal('show');

        $("#btn-remove").click(function() {
            $("#btn-cancel-remove").attr('disabled', true);
            $("#btn-remove").attr('disabled', true);
            
            window.location.href = "<?php echo $this->url('app-router/default', 
                ['controller' => 'account', 'action' => 'delete-payable']); ?>/" + id;
        });
    }
</script>