<?php $account = $this->data; ?>
 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-offset-1">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
              style="color: #444" title="Acessar">Financeiro</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'payable']); ?>" 
              style="color: #444" title="Acessar">Contas a Pagar</a> 
              <span style="color: #ff9600"> >> </span>
              Novo
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                        <div class="col-md-4">
                            <b>Código da Conta:</b> <?php echo $account->getId(); ?>
                        </div>        
                        <div class="col-md-4">
                            <b>Gerada em:</b> <?php echo date_format($account->getCreated(), "d/m/Y H:i"); ?>
                        </div>        
                        <div class="col-md-12">
                            <hr />
                        </div>
                        <?php if($account->getCustomer() != null): ?>
                        <div class="col-md-4">
                            <b>Cliente:</b> 
                            <?php echo $account->getCustomer()->getName(); ?>
                            <br />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <?php endif; ?>
                        <?php if($account->getUser() != null): ?>
                        <div class="col-md-4">
                            <b>Usuário:</b> 
                            <?php echo $account->getUser()->getName(); ?>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <?php endif; ?>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <b>Documento:</b> 
                            <?php echo $account->getDocument(); ?>
                        </div>
                        <div class="col-md-6">
                            <b>Descrição:</b> 
                            <?php echo $account->getDescription(); ?>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-4">
                            <b>Emissão:</b> 
                            <?php 
                            $emission_exp = explode("-", $account->getEmission());
                            $emission = $emission_exp[2] . "/" . $emission_exp[1] . "/" . $emission_exp[0];
                            echo $emission;
                            ?>
                        </div>
                        <div class="col-md-4">
                            <b>Vencimento:</b> 
                            <?php 
                            $expiration_exp = explode("-", $account->getExpiration());
                            $expiration = $expiration_exp[2] . "/" . $expiration_exp[1] . "/" . $expiration_exp[0];
                            echo $expiration;
                            ?>
                        </div>
                        <div class="col-md-4">
                            <b>Valor da Conta:</b> 
                            <?php echo number_format($account->getAccountValue(), 2, ",", "."); ?>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-12">
                            <b>Situação da Conta: </b>
                            <?php  
                            switch ($account->getStatus()) {
                                case 'O':
                                    $label = "Aberta";
                                    break;
                                case 'E':
                                    $label = "Vencida";
                                    break;
                                case 'P':
                                    $label = "Quitada";
                                    break;
                                default:
                                    $label = "Indefinda";
                                    break;
                            }
                            echo $label;
                            ?>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-12">
                            <b>Observações:</b> 
                            <?php echo $account->getNotes(); ?>
                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-12">
                            <a class="btn btn-default" 
                                href="<?php echo $this->url('app-router/default', 
                                    ['controller' => 'account', 'action' => 'payable']); ?>">
                                VOLTAR
                            </a>
                            <?php if ($account->getStatus() == 'O' || $account->getStatus() == 'E'): ?>
                                <a class="btn btn-success" 
                                    href="<?php echo $this->url('app-router/default', 
                                        ['controller' => 'account', 'action' => 'done-payable', 'id' => $account->getId()]); ?>">
                                    PAGAR CONTA
                                </a>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
