 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/lightbox/js/lightbox.min.js"></script>

<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-8 col-md-offset-2">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>" 
              style="color: #444" title="Acessar">Agendamentos</a> 
              <span style="color: #ff9600"> >> </span>
              Detalhes
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <h2 style="text-align: center;"><b>Agendamento:</b> <?php echo $this->appointment->getCustomer()->getName(); ?></h2> 
                <hr>
                <div class="col-md-6">
                    <b>Código:</b> <?php echo $this->appointment->getCustomer()->getId(); ?><br>
                    <b>Descrição:</b> <?php echo $this->appointment->getDescription(); ?>
                </div>
                <div class="col-md-6">
                    <b>Data / Horário:</b> <?php echo $this->appointment->getTime(); ?><br>
                    <b>Valor:</b> R$ <?php echo number_format($this->appointment->getPrice(), 2, ",", "."); ?>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="col-md-6">
                    <b>Cliente:</b> <?php echo $this->appointment->getCustomer()->getName(); ?>
                    <br>
                    <b>Email:</b> <?php echo $this->appointment->getCustomer()->getEmail(); ?>
                    <br>
                    <b>Telefone:</b> <?php echo $this->appointment->getCustomer()->getPhone(); ?>
                    <br>
                    <b>Celular:</b> <?php echo $this->appointment->getCustomer()->getCellphone(); ?>
                </div>
                <div class="col-md-6">
                    <b>CEP:</b> <?php echo $this->appointment->getCustomer()->getPostalCode(); ?>
                    <br>
                    <b>Endereço:</b> <?php echo $this->appointment->getCustomer()->getAddress(); ?>
                    <br>
                    <b>Número:</b> <?php echo $this->appointment->getCustomer()->getNumber(); ?> / 
                    <b>Complemento:</b> <?php echo $this->appointment->getCustomer()->getComplement(); ?>
                    <br>
                    <b>Bairro:</b> <?php echo $this->appointment->getCustomer()->getNeighborhood(); ?>
                    <br>
                    <b>Cidade:</b> <?php echo $this->appointment->getCustomer()->getCity(); ?>/<?php echo $this->appointment->getCustomer()->getState(); ?>
                </div>
                <div class="clearfix"></div>
                <?php if (!empty($this->images)): ?>
                    <hr>
                    <?php
                    $count = 0;
                    foreach ($this->images as $image):
                        $count++;
                        $exp_image = explode("-", $image, 2);
                        ?>
                        <div class="col-md-3" style=" padding-top: 20px;">
                            <a href="<?php echo $this->basePath(); ?>/uploads/appointment/<?php echo $exp_image[1]; ?>"
                               data-lightbox="image-1" data-title="IMAGEM">
                                <img src="<?php echo $this->basePath(); ?>/uploads/appointment/<?php echo $exp_image[1]; ?>" 
                                    alt="image" class="img-responsive">
                            </a>
                            <br />
                        </div>
                        <?php if ($count == 4): ?>
                            <div class="clearfix"></div>
                            <?php $count = 0; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                     <div class="clearfix"></div>
                     <hr>
                <?php endif; ?>
                <div class="col-md-12">
                    <b>Observações:</b> <?php echo $this->appointment->getNotes(); ?>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="pull-left">
                    <a class="btn btn-primary" 
                        href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>">
                        Voltar
                    </a>
                    <?php if ($this->appointment->getStatus() == "O"): ?>
                        <a class="btn btn-warning" 
                            href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'appointment', 'action' => 'edit', 'id' => $this->appointment->getId()]); ?>">
                            Editar
                        </a>
                        <a class="btn btn-danger" 
                            href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'appointment', 'action' => 'delete', 'id' => $this->appointment->getId()]); ?>">
                            Excluir
                        </a>
                    <?php endif; ?>
                </div>
                <div class="pull-right">
                    <?php if ($this->appointment->getStatus() == "O"): ?>
                        <a class="btn btn-primary" 
                            href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'appointment', 'action' => 'freeze', 'id' => $this->appointment->getId()]); ?>">
                            Congelar
                        </a>
                        <a class="btn btn-success" 
                            href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'appointment', 'action' => 'done', 'id' => $this->appointment->getId()]); ?>">
                            Concluir
                        </a>
                    <?php endif; ?>
                    <?php if ($this->appointment->getStatus() == "C"): ?>
                        <a class="btn btn-warning" 
                            href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'appointment', 'action' => 'open', 'id' => $this->appointment->getId()]); ?>">
                            Reabrir
                        </a>
                    <?php endif; ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
  </div>
</div>

