 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-offset-3">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>" 
              style="color: #444" title="Acessar">Agendamentos</a> 
              <span style="color: #ff9600"> >> </span>
              Editar
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <br>
                <?php 
                $descriptionMessage = $this->formElementerrors($form->get('description'));
                $timeMessage = $this->formElementerrors($form->get('time'));

                if ($descriptionMessage || $timeMessage) {
                  ?>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-danger" role="alert">
                        <?php echo $descriptionMessage . $timeMessage; ?>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                    <br />
                  <?php
                }
                ?>
                <div id="form_content">
                    <?php 
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('app-router/default', 
                        ['controller' => 'appointment', 'action' => 'edit']));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    echo $this->formInput($form->get('id'));
                    ?>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer" required>
                      Cliente <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formSelect($form->get('customer')); ?>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description" required>
                      Descrição <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('description')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time" required>
                      Data/Hora <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('time')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">
                      Valor
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('price')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gallery">
                      Imagens
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formFile($form->get('gallery')); ?>
                      <div>
                          <a class="btn btn-primary"
                              style="font-size: 11px; margin-top: 10px; cursor: pointer;" 
                              onclick="editGallery(<?php echo $this->id; ?>);">
                              Editar Galeria
                          </a>
                      </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="notes">
                      Observações
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formTextarea($form->get('notes')); ?>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                 <div class="footer" style="text-align: center;">
                      <a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>" 
                      class="btn btn-default" >Voltar</a>
                      <?php
                      echo $this->formRow($form->get('security'));
                      echo $this->formButton($form->get('submit'));
                      ?>
                  </div>
                <div class="clearfix"></div>
                <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal Edit Gallery -->
<div id="modal-edit-gallery" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Galeria</h4>
            </div>
            <div id="edit-item-gallery-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-item-gallery-result"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loadImages(id) {
        $("#edit-item-gallery-loader").show();
        $("#edit-item-gallery-result").empty();

        $.ajax({
            url: "<?php echo $this->url('app-router/default', 
                ['controller' => 'appointment', 'action' => 'gallery']); ?>?id=" + id,
            success: function(data) {
                $("#edit-item-gallery-loader").hide();
                $("#edit-item-gallery-result").append(data);
            },
            error: function() {
                $("#edit-item-gallery-loader").hide();
                $("#edit-item-gallery-result").append('Erro ao obter dados, atualize a página.');
            }
        });
    }

    function editGallery(id) {
        $("#modal-edit-gallery").modal('show');
        loadImages(id);
    }

    function deleteImage(id, pos) {
        $.ajax({
            url: "<?php echo $this->url('app-router/default', 
                ['controller' => 'appointment', 'action' => 'delete-image']); ?>?id=" + id +
                '&pos=' + pos,
            success: function(data) {
                loadImages(id);
            },
            error: function() {
                loadImages(id);
            }
        });
    }

    $("#frm-time").mask("99/99/9999 99:99");
  
    $("#form_content").find('ul').hide();

    $("#frm-price").maskMoney({
        showSymbol:false, thousands:'.', decimal:',', symbolStay: true
    });
</script>
