<?php if (!empty($this->images)): ?>

<div  style="max-height: 400px; overflow-y: scroll;">
<?php
$count = 0;
foreach ($this->images as $image):
    $count++;

    $exp_image = explode("-", $image, 2);
    ?>
    <div class="col-md-3" style=" padding-top: 20px;">
        <a href="../../../uploads/appointment/<?php echo $exp_image[1]; ?>"
           data-lightbox="image-1" data-title="IMAGEM">
            <img src="<?php echo "../../../uploads/appointment/" . $exp_image[1]; ?>" 
                alt="image" class="img-responsive">
        </a>
        <br />
        <button class="btn btn-danger btn-sm" 
            onclick="deleteImage(<?php echo $this->id . "," . $exp_image[0]; ?>);">
            Excluir
        </button>
    </div>
    <?php
    if ($count == 4) {
        ?>
        <div class="clearfix"></div>
        <hr />
        <?php
        $count = 0;
    }
endforeach; ?>
<div class="clearfix"></div>
<br />
</div>
                <script type="text/javascript" src="<?php echo $this->basePath(); ?>/lightbox/js/lightbox.min.js"></script>

<?php endif; ?>
