 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
     <div class="container">
      <div class="row">
          <div style="text-align: center; color: #444; font-size: 15px; 
          border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
            style="color: #444" title="Acessar">Início</a> 
            <span style="color: #ff9600"> >> </span>
          Agendamentos
          <span style="color: #ff9600"> >> </span> 
          Cadastros
        </div>
        <div class="clearfix"></div>
           <div class="col-sm-3 col-lg-3">
            <div class="col-md-12" style="margin: 0; padding: 0;">
              <a href="<?php echo $this->url('app-router/default', 
                  ['controller' => 'appointment', 'action' => 'new']); ?>">
                  <div class="dash-unit" style="padding: 0; margin: 0">
                      <div class="thumbnail" style="padding: 0; margin: 0; padding-top: 9px; padding-bottom: 9px;">
                          <img src="<?php echo $this->basePath(); ?>/assets/img/insert.png" 
                            alt="Inserir">
                          Inserir
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-md-12" style="margin: 0; padding: 0; margin-top: 34px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
                  <div class="dash-unit" style="padding: 0; margin: 0">
                      <div class="thumbnail" style="padding: 0; margin: 0; padding-top: 9px; padding-bottom: 9px;">
                          <img src="<?php echo $this->basePath(); ?>/assets/img/return.png" 
                            alt="Voltar">
                          Voltar
                      </div>
                  </div>
                </a>
             </div>
          </div>
          <div class="visible-xs visible-sm"> 
            <div class="clearfix"></div>
            <br />
          </div>
          <?php 
          $count = 0;
          foreach($this->data as $entity):
            $count++;
            ?>
            <div class="col-sm-3 col-lg-3">
                <a href="<?php echo $this->url('app-router/default', 
                  ['controller' => 'appointment', 'action' => 'details', 'id' => $entity->getId()]); ?>"
                  title="<?php echo $entity->getCustomer()->getName(); ?>" style="cursor: pointer;">
                    <div class="dash-unit" style="padding: 0">
                  <dtitle><?php echo $entity->getTime(); ?> | <?php echo $entity->getCustomer()->getName(); ?></dtitle>
                  <hr style=" margin:0; padding: 0">
                  <?php 
                  if (!empty($entity->getGallery())):
                      $image = $this->ShowAppointmentImage($entity->getId());
                      if (empty($image)):
                          $image = $this->basePath() . '/assets/img/semfoto.png';
                      endif;
                  else:
                      $image = $this->basePath() . '/assets/img/semfoto.png';
                  endif;
                  ?>
                <div style="height: 200px">
                  <img src="<?php echo $image; ?>" class="img-responsive" style="max-height: 200px">
                </div>
              <hr style=" margin:0; padding: 0">
              <div class="info-user" style="padding-top: 10px; padding-bottom: 5px;">
                <a href="<?php echo $this->url('app-router/default', 
                  ['controller' => 'appointment', 'action' => 'details', 'id' => $entity->getId()]); ?>" 
                  title="Cadastro" style="color: #ff9600;">
                  <span aria-hidden="true" class="li_eye fs1"></span>
                </a>
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'appointment', 'action' => 'edit', 'id' => $entity->getId()]); ?>" 
                  title="Editar" style="color: #ff9600;">
                  <span aria-hidden="true" class="li_pen fs1"></span>
                </a>
              </div>
            </div>
                </a>
            </div>
            <?php  
            if ($count == 3):
              echo '<div class="clearfix"></div>';
              
              $count2 = 0;
              $count2++;

              if ($count2 == 4):
                echo '<div class="clearfix"></div>';
                $count2 = 0;
              endif;
            endif;
            ?>
            <?php endforeach; ?>
          <div class="clearfix"></div>
          
      </div>
  </div>
</div>