﻿<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gangstar | Tattoo Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="<?php echo $this->basePath(); ?>/assets/css/bootstrap.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/main.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/font-style.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/flexslider.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/register.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/editor/editor.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/lightbox/css/lightbox.min.css" rel="stylesheet">
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-latest.js"></script>
        <style type="text/css">
          body {
            padding-top: 65px;
          }
        </style>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="<?php echo $this->basePath(); ?>/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">

        <!--
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        -->
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/editor/editor.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.mask.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.maskMoney.js"></script>
    </head>
<body>
    <div class="navbar-nav navbar-inverse navbar-fixed-top" style="margin: 0">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo baseUrl; ?>admin/">
            Gangstar | Tattoo Manager</a>
        </div> 
          <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
                <i class="icon-home icon-white"></i> Inicio
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>">
                <i class="icon-folder-open icon-white"></i> Clientes
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>">
                <i class="icon-folder-open icon-white"></i> Agendamentos
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>">
                <i class="icon-folder-open icon-white"></i> Financeiro
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'system-config']); ?>">
                <i class="icon-folder-open icon-white"></i> Sistema
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'auth', 'action' => 'logout']); ?>">
                <i class="icon-folder-open icon-white"></i> Encerrar Sessão
              </a></li>
            </ul>
          </div>
          <div class="clearboth"></div>
        </div>
    </div>
    <?php echo $this->content; ?>
    <div id="footerwrap">
        <footer> </footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <p><img src="<?php echo $this->basePath(); ?>/assets/img/logo.png"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>