<br>
<div class="container">
    <div class="row">
    	<div class="clearfix"></div>
        <div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/users.png" alt="Usuários" class="img-circle">
				</div>
				<h1>Clientes</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/users.png" alt="Usuários" class="img-circle">
				</div>
				<h1>Agendamentos</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/download.png" alt="Relatórios" class="img-circle">
				</div>
				<h1>Financeiro</h1>
			</div>
			</a>
		</div>

		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'system-config']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/close.png" alt="Encerrar Sessão" class="img-circle">
				</div>
				<h1>Sistema</h1>
			</div>
			</a>
		</div>
	</div>
</div>