 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
     <div class="container">
      <div class="row">
          <div style="text-align: center; color: #444; font-size: 15px; 
          border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
            style="color: #444" title="Acessar">Início</a> 
            <span style="color: #ff9600"> >> </span>
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
            style="color: #444" title="Acessar">Financeiro</a> 
            <span style="color: #ff9600"> >> </span>
          Caixa
        </div>
        <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="well" style="text-align: center;">
                    <h2>Caixa atual</h2>
                    <p style="margin-top: 10px">
                        <a class="btn btn-warning btn-lg btn-round" style="width: 100%">
                            R$ <?php echo $this->amount; ?>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" style="text-align: center;">
                    <h2>Entradas do Dia</h2>
                    <p style="margin-top: 10px">
                        <a class="btn btn-success btn-lg btn-round" style="width: 100%">
                            R$ <?php echo $this->daily_releases; ?>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" style="text-align: center;">
                    <h2>Despesas do Dia</h2>
                    <p style="margin-top: 10px">
                        <a class="btn btn-danger btn-lg btn-round" style="width: 100%">
                            R$ <?php echo $this->daily_expense; ?>
                        </a>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="well">
            <div class="col-md-12" style="text-align: center;">
                <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
                      class="btn btn-default  btn-lg" >Voltar</a>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    FECHAR CAIXA
                </button>
            </div></div>
        </div>
    </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fechamento de Caixa - <?php echo date("d/m/Y"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <p>Confirmar o fechamento do Caixa?</p>
                    <br />
                </div>
                <div class="col-md-6">
                    <b>Entradas do dia:</b> R$ <?php echo $this->daily_releases; ?>
                </div>
                <div class="col-md-6">
                    <b>Despesas do dia:</b> R$ <?php echo $this->daily_expense; ?>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="<?php echo $this->url('app-router/default', 
                            ['controller' => 'cashier', 'action' => 'close']); ?>" 
                    class="btn btn-success">Confirmar</a>
            </div>
        </div>
    </div>
</div>
