 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
    <div class="container">
        <div class="row">
            <div style="text-align: center; color: #444; font-size: 15px; 
                border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
                <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                    style="color: #444" title="Acessar">Início</a> 
                    <span style="color: #ff9600"> >> </span>
                <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
                    style="color: #444" title="Acessar">Financeiro</a> 
                    <span style="color: #ff9600"> >> </span>
                <a href="<?php echo $this->url('app-router/default', ['controller' => 'sale']); ?>" 
                    style="color: #444" title="Acessar">Vendas</a> 
                    <span style="color: #ff9600"> >> </span>
                Detalhes
            </div>
            <div class="clearfix"></div>
            <div class="well">
                <div class="col-md-6" style="font-size: 20px;">
                    <strong>Códido da Venda:</strong> <?php echo $this->sale->getId(); ?>
                </div>
                <div class="col-md-6" style="font-size: 20px;">
                    <strong>Data da Venda:</strong> <?php echo date_format($this->sale->getSaleDate(), "d/m/Y h:i"); ?>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="col-md-6">
                    <b>Cód. Cliente:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getId(); ?>
                    <br>
                    <b>Nome:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getName(); ?>
                    <br>
                    <b>Email:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getEmail(); ?>
                    <br>
                    <b>Telefone:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getPhone(); ?>
                    <br>
                    <b>Celular:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getCellphone(); ?>
                </div>
                <div class="col-md-6">
                    <b>CEP:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getPostalCode(); ?>
                    <br>
                    <b>Endereço:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getAddress(); ?>
                    <br>
                    <b>Número:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getNumber(); ?> / 
                    <b>Complemento:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getComplement(); ?>
                    <br>
                    <b>Bairro:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getNeighborhood(); ?>
                    <br>
                    <b>Cidade:</b> <?php echo $this->sale->getAppointment()->getCustomer()->getCity(); ?>/<?php echo $this->sale->getAppointment()->getCustomer()->getState(); ?>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <?php if (!empty($this->images)): ?>
                        <hr>
                        <?php
                        $count = 0;
                        foreach ($this->images as $image):
                            $count++;
                            $exp_image = explode("-", $image, 2);
                            ?>
                            <div class="col-md-3" style=" padding-top: 20px;">
                                <a href="<?php echo $this->basePath(); ?>/uploads/appointment/<?php echo $exp_image[1]; ?>"
                                   data-lightbox="image-1" data-title="IMAGEM">
                                    <img src="<?php echo $this->basePath(); ?>/uploads/appointment/<?php echo $exp_image[1]; ?>" 
                                        alt="image" class="img-responsive">
                                </a>
                                <br />
                            </div>
                            <?php if ($count == 4): ?>
                                <div class="clearfix"></div>
                                <?php $count = 0; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                         <div class="clearfix"></div>
                         <hr>
                    <?php endif; ?>
                    <hr />
                </div>
                <div class="col-md-12" style="font-size: 30px; text-align: center;">
                    <strong>Total:</strong> R$ <?php echo number_format($this->sale->getTotal(), 2, ',', '.'); ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>