 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
     <div class="container">
      <div class="row">
          <div style="text-align: center; color: #444; font-size: 15px; 
          border-bottom: 1px dotted #444; margin-bottom: 20px;padding-bottom: 14px">
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
            style="color: #444" title="Acessar">Início</a> 
            <span style="color: #ff9600"> >> </span>
          <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
            style="color: #444" title="Acessar">Financeiro</a> 
            <span style="color: #ff9600"> >> </span>
          Vendas
        </div>
        <div class="clearfix"></div>
        <div class="well">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Código</th>
                            <th>Cliente</th>
                            <th>Valor</th>
                            <th>Data da Venda</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                            <tr>
                                <td style="text-align: center;">
                                    <?php echo $entity->getId(); ?>
                                </td>
                                <td>

                                    <?php echo $entity->getAppointment()->getCustomer()->getName(); ?>
                                </td>
                                <td>
                                    R$ <?php echo number_format($entity->getTotal(), 2, ',', '.'); ?>
                                </td>
                                <td>
                                    <?php echo date_format($entity->getSaleDate(), "d/m/Y h:i"); ?>
                                </td>
                                <td style="text-align: center;">
                                    <a class="btn btn-round btn-info btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Editar Subcategoria"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'sale', 'action' => 'details', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                    </a>&nbsp;
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
        </div></div>
    </div>
</div>